@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  width:100vw;
  background-color: #F2F2F2;
}

/*HEADER*/

.common{
  /*border:black solid 1px;*/
  width:1240px;
  margin:0 auto;
}

.holdTop{
  position: fixed;
  top:0px;
  left:100px;
  background-color:white;
  overflow: hidden;
  width:1240px;
}

h1{
    margin-top: 50px;
    display: block;
    text-align: center;
}

#menu nav{
  margin:0px;
}

#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:black solid 1px;
  margin:0 auto;
}

#menu ul li{
  float:left;
}

#menu ul li a{
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:200px;
  border: 1px solid red;
}

#menu a:hover{
  background-color: grey;
}

/* MAIN */

/* Section categories */
.home_categories{
  box-sizing: border-box; /*padding include in the final width*/
  display:flex;
  flex-direction: column;
  padding:2em;
  height: 100vh;/* Makes all the section fill the screen height*/
}

.home_categories h2{
  margin-top:0;
}

.home_categories p{
  font-size:16px;
}

/* When screen is bigger than 700px */
@media only screen and (min-width:700px){

  .home_categories{
    flex-direction: row;
    height: 250px;
    padding-left:100px;
    padding-right:100px;
  }

  .section_link{
    display:flex;
    flex-direction: row;
    padding-right:50px;
  }

  .section_link h2{
    margin-right:50px; 
  }

  .section_link p{
    padding-right:50px;
  }

  .home_categories img{  
    height: 25vh;
  }

  .section_link{/* Makes all section not clickable */
    pointer-events: none; 
    cursor: default;
  }  
}/*@media only screen and (min-width:700px)*/

.home_categories img{
  height:20vh;
  max-height: 225px;
  display: block;
  margin:auto;
  /*padding:1em;*/
  box-shadow: 10px 10px #D9BC66; /*it doesnt work with padding*/
}

.section_link{
  text-decoration: none;
}

.section_link:link{
  color:#1A1E26;
}

.section_link:visited{
  color:#1A1E26;
}

.arrow_link{
  display:block;
  text-align: center;
  text-decoration: none;
  background-color: #733641;
  padding:3vh;
  margin-top: auto; /* pushes the above elements to stay at the bottom */
  font-size: 3vh;
}

#go_top{
  color:#F2F2F2;
  background-color:#1A1E26;
}

.arrow_link:link{
  color:#1A1E26;
}

.arrow_link:visited{
  color:#1A1E26;
}

#why,#furnitures{
  background-color: #d4d6d8;
}

/* THIS CODE IS FOR THE PRE-TIMELINE*/
.wrapper {
  padding: 0 7em 2em 3em;
  width: 100%;
}

.timeline {
  position: fixed;
  top: 150px;
  right:20px;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  margin: 20px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .3s ease-out;
}

.timeline ul a{
    text-decoration: none;
    color: #bfc1c3;
}

.timeline ul a:hover {
  color: #000;
}

.timeline ul li:active{
    background-color: coral;
}
/*END OF PRE_TIMELINE*/
