@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);


body{
  margin:0;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  width:104vw;
  background-color: #F2F2F2;
  color: #1A1E26;
  overflow-x: hidden;
  box-sizing:border-box; /*padding include in the final width*/
}
p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

/*HEADER*/
/* sna013*/
.bg-img{
  background-image: url("../imgs/header.jpg");
  min-height: 380px;
  top:40px;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body{
  margin:0;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
  width:104vw;
  background-color: #F2F2F2;
  color: #1A1E26;
  overflow-x: hidden;
  box-sizing:border-box; /*padding include in the final width*/
}
p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

.nav {
  z-index:+1;
  height: 8%;    
  flex-direction: column;
  width: 100%;
  background-color: white;
  position:fixed;
  top:0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav > .nav-header {
  display: inline;
}
a {
  text-decoration: none;
  color: black;
}


.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}
.nav-links2{
  display: none;
}
.nav > .nav-links {
  float: right;
  font-size: 25px;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}

.nav > .nav-links > a {
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: grey;
  display: block;
  width: 100%;
}  

.nav > .nav-links > a,
.nav > .nav-links > a:after,
.nav > .nav-links >:before {
transition: all .5s;
}
.nav > .nav-links > a {
position: relative;
}

.nav > .nav-links > a:hover:after {
width: 100%;
}

.nav > .nav-btn {
display: inline-block;
position: absolute;
right: 0px;
top: 0px;
}
.nav > .nav-btn > label {
display: inline-block;
width: 50px;
height: 50px;
padding: 13px;
}

.nav > .nav-btn > label > span {
display: block;
width: 25px;
height: 10px;
border-top: 2px solid black;
}

.nav > #nav-check {
display: none;
}

.nav > #nav-check:not(:checked) ~ .nav-links {
height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
height: calc(100vh - 50px);
overflow-y: auto;
}

/* MAIN */ 

/* About us */
.aboutus{
  margin-top:35px;
  width:100vw;
  padding-top:1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.aboutus p{
  padding-left:0.5em;
  padding-right:1em;
}
.images_aboutus p{
  text-align: center;
}

.aboutus h2{
  padding:0.5em;
  padding-bottom:0;
}

.images_aboutus{
  width:85%;
  margin:auto;
  padding-right:1em;
}

.images_aboutus img{
width: 100%;
}

/* CODE BY CAND. 176*/
/* Section categories */

header,main, footer{
  margin:0;
  padding:0;
}

#why,#home,#about{
  background-color: #d4d6d8;
}

#what{
  margin-top:50px;
}

.home_categories section{
  display:flex;
  flex-direction: column;
  height: auto;
  width:104vw;
  padding:0;
}

#clothes h2{
  background-color: #D9BC66;
}

#clothes img{
  box-shadow: 10px 10px #D9BC66; /*it doesnt work with padding*/
}

#clothes .category_link{
  background-color: #D9BC66;
}

#home h2{
  background-color: #69A4B3;
}

#home img{
  box-shadow: 10px 10px #69A4B3; /*it doesnt work with padding*/
}

#home .category_link{
  background-color: #69A4B3;
}

#collectors h2{
  background-color: #A5AFBF;
}

#collectors img{
  box-shadow: 10px 10px #A5AFBF; /*it doesnt work with padding*/
}

#collectors .category_link{
  background-color: #A5AFBF;
}

#about h2{
  background-color: #1A1E26;
  color:#F2F2F2;
}

#about img{
  box-shadow: 10px 10px #1A1E26; /*it doesnt work with padding*/
}

#about .category_link{
  background-color: #1A1E26;
  color:#F2F2F2;
}

.home_categories h2{
  box-sizing:border-box;  
  width:100%;
  margin:0;
  padding-left:1em;
  padding-right:1em;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.home_categories p{
  font-size:16px;
  padding:2em;
  margin:0;
}

.home_categories img{
  position:relative;
  width:75%;
  display: block;
  margin:auto;
  margin-bottom:10px;
  right:8px;
  /*padding:1em;*/
}

.category_link{
  display:block;
  text-align: center;
  text-decoration: none;
  padding:0.8em;
  margin:1.8em;
}

.category_link:link{
  color:#1A1E26;
}

.category_link:visited{
  color:#1A1E26;
}

/*END OF MAIN*/

/* FOOTER */ /* CODE BY CAND. 176*/

footer{
  width:104vw;
  background-color:#1A1E26;
  color:#F2F2F2;
  text-align:center;
  padding-top:2em;
}

footer h2{
  font-size: 19px;
  width:100%;
}

#logo{
  width:35%;
  max-width: 200px;
  max-height:200px;
  filter:invert(1);
  margin-bottom: 20px;
}

.footer_section{
  margin-bottom:20px;
}

.footer_section img{
  width:30px;
  float:left;
}

.social{
  margin:auto;
  margin-bottom:12px;
  width:232px;
}

.social:after{
  clear: both;
  display:table;
  content: "";
}

.social p{
  float: left;
  width: auto;
  margin:0;
  margin-left:5px;
}

#sitemap nav{
  text-align:left;
  margin:auto;
}

#sitemap nav a{
  display: block;
  margin:auto;
  width:170px;
}

#sitemap nav a:link{
  color:#d4d6d8;
}

#sitemap nav a:visited{
  color:#d4d6d8;
}

#copyright{
  width:100vw;
  margin:0;
  padding:0.5em;
}
/*END OF FOOTER*/

/* When screen is bigger than 900px */
@media only screen and (min-width:700px){


.nav {
  z-index:+1;
  height: 7%;    
  flex-direction: column;
  width: 100%;
  background-color: white;
  position:fixed;
  top:0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-links {
    display: none;
  
}
.nav > .nav-links {
display: none;
}
.nav{
  margin-right: 2px;
}
  .timeline{
    display:none;
  }
  /* sna013*/
 .bg-img {
  background-image: url("../imgs/header.jpg");
  min-height: 550px;
  top:40px;
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.nav > .nav-btn {
    display: none;
}
.nav-links2 {
      display: inline;
      float: right;
      font-size: 18px;
      color: black;
}
.nav > .nav-links2 {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links2 > a {
  display: inline-block;
  padding: 13px 10px 7px 10px;
  text-decoration: none;
  color: grey;
}


.nav > .nav-links2 > a,
.nav > .nav-links2 > a:after,
.nav > .nav-links2 >:before {
transition: all .5s;
}
.nav > .nav-links2 > a {
position: relative;
}
.nav > .nav-links2 > a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #aaa;
height: 1px;
}
.nav > .nav-links2 > a:hover:after {
width: 100%;

}

.nav > #nav-check {
display: none;
}

/* MAIN*/
/* CODE BY CAND. 176*/


  #what h2, #why h2{
    width:250px;
    padding-left:0;
  }

  #what p, #why p{
    width:95%;
  }

  .home_categories{
    width:100%;
  }

  .home_categories section{
    display:table;
    height: auto;
    padding:4em;
    padding-left:8em;
    padding-right:8em;
    width:65%;
    margin:auto;
  }

  .home_categories h2{
    width:200px;
    margin-bottom:2em;
  }

  .home_categories p{
    width:45%;
    float:left;
    padding-right:100px;
    padding:0;
  }

  .section_link{
    width:55%;
    float: left;    
    margin:0;
    padding:0;
  }

  .home_categories img{
    width:35vw;
    max-width: 350px;
    margin-left:auto;
    margin-right: 0;
  }

  .category_link{
    width:120px;
    margin:0;
    padding:0.6em;
    clear:left;
  }

  footer{
    text-align:left;
    height: auto;
  }

  footer > div{
    width:80%;
    margin:auto;
  }

  #logo{
    float:left;
  }

  .footer_section{
    width:35%;
    float:left;
  }

  .footer_section h2{
    width:35%;
    margin:auto;
    margin-bottom:10px;
  }

  #copyright{
    display:inline-block;
    text-align: center;
  }

  .subnav{
    display:none;
  }

  /* sna013*/
.aboutus{
  margin-top:35px;
  width:100vw;
  padding-top:1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.aboutus p{
  padding-left:0.5em;
  padding-right:1em;
}

.aboutus h2{
  padding:0.5em;
  padding-bottom:0;
}

.images_aboutus{
  width: 400px;
  height: auto;
  padding: 1em;
}

.images_aboutus img{
  display: inline-block;
  width: 100%;
  height: 100%; 

}
}/*@media only screen and (min-width:700px)*/
