*{
  padding:0;
  margin:0;
}

main{
  z-index:-1;
}

p{
  font-family:sans-serif;
}

/************************************/

section{
    padding: 0;
}
#header{
background-color:#F0EACD;
margin-top:50px;
width:100%;
height:auto;
}
#header h1{
  font-size:8vw;
  text-align:center;
  margin:0 auto;
}
#header .text p{
  font-size: 16px;
}
#header img{
  display: block;
  width:90vw;
  height:92.7vw;
  margin: 0 auto;
}
#header .text{
  width:90vw;
  height:auto;
  margin: 0 auto;
}

.categories {
  width: 100vw;
  height:150vw;/*auto;*/
}

.categories .illustration{
  width:100vw;
  height:62vw;/*82.79vw;/*568px;*/
  background-color: #F0DE87;
  background-repeat: no-repeat;
  background-size: cover;
}

#secondlove .imgs_1{
  float: left;
  width:29.2%;
  height:70.48%;
  margin-left: 7.1%;
  margin-top: 10.84%;
  margin-right:4.8%;
}
#secondlove .imgs_2{
  float: left;
  width:53.9%;
  height:58.1%;
  margin-top:15.84%;
}

#paulina .imgs_1{
  float: left;
  width:37%;
  height:89.355%;
  margin-left: 12%;
  margin-top:3.5%;
  margin-right: 4.4%;
}
#paulina .imgs_2{
  float: left;
  width:37%;
  height:89.355%;
  margin-top:3.5%;
}

.categories .text{
  width:95vw;
  height:auto;
  margin: 0 auto;
  background-size: cover;
}

.categories .text h2{

  font-weight:normal;
  font-size:8vw;
  margin-left: 5vw;
}

.categories .text .head img{
  width:11.5vw;
  height: auto;
  float:left;
}

.categories .text h3{
  font-size:5vw;
}
.categories .text .intro{
  margin-bottom: 10px;
}

.categories p{
  font-size:4vw;
}
#secondlove{
  background-color: white;
}
#paulina{
  background-color: #FBF9F2;
}
#paulina .illustration{
  background-color: #F0EACD;
}


@media only screen and (min-width:650px){
  #header {
    margin-top:50px;
    width: 100vw;
    height:auto;/*171.42vw;/*auto;*/
  }
  .categories {
    border: 1px solid black;
    width: 100vw;
    height:auto;/*171.42vw;/*auto;*/
    padding-bottom:80px;
  }
  .categories .illustration{
    width:80vw;
    height:49.6vw;/*568px;*/
    margin: 0 auto;
    /*margin-bottom: 20px;*/
  }

.categories .text{
  width:80vw;
  height:auto;
  margin: 0 auto;
}

.categories .text h2{

  font-weight:normal;
  font-size: 40px;
  margin-left: 5vw;
}

.categories .text .head img{
  width:60px;
  height: auto;
  float:left;
}

.categories .text h3{
  font-size:25px;/*5vw;*/
  margin-bottom: 1vw;/*10px*/
}

.categories p{
  font-size:20px;/*4vw;*/
}
#header{
  width:100vw;
  height:125vw;
}
#header .illustration{
  width:80vw;
  height:auto;
}
#header .text{
  width:80vw;
}
#header .text p{
  font-size: 3vw;
}
#header h1{
  font-size:6vw;
}

}
@media only screen and (min-width:900px){
  #header{
    width:100vw;
    height:50vw;
    margin-top: 50px;
  }
  #header .illustration{
    float:right;
    width:35.93vw;/*0.78vw;/**35.68vw;**/
    height:36.98vw;/*31.72vw; /**36.63vw;**/
    margin-top: 20px;
    margin-right: 10vw;
    margin-left: 10vw;

  }
  #header h1{
    width:20vw;
  }
  #header .text{
    float:right;
    width:35.93vw;
    height:36.98vw;
    margin-top: 20px;
    }
    #header .text p{
      font-size: 2vw;
    }


}
@media only screen and (min-width:1120px){
.categories {
      width:100vw;
      height:38vw;
    }

  #secondlove .text{
    float:left;
    padding: 2vw;
    width:35vw;/**57.14vw;*/
    height:23.84vw;/*35.35vw;/*568px;*/
    font-size: 1.2vw;
    margin-top:8vw;
  }

  #secondlove  .illustration{
      float: left;
      width:45vw;/**57.14vw;*/
      height:27.9vw;/*35.35vw;/*568px;*/
      margin: 0 auto;
      margin-left:7vw;
      margin-right:1vw;
      margin-top:8vw;

    }

#paulina  .illustration{
    float: right;
    width:45vw;/**57.14vw;*/
    height:27.9vw;/*35.35vw;/*568px;*/
    margin: 0 auto;
    margin-right:7vw;
    margin-left:1vw;
    margin-top:8vw;

  }
#paulina .text{
  float:right;
  padding: 2vw;
  width:35vw;/**57.14vw;*/
  height:23.84vw;/*35.35vw;/*568px;*/
  font-size: 1.2vw;
  margin-top:8vw;
}

.categories .text p{
  font-size: 1.1vw;
}
.categories .text h2{
  font-size: 3.5vw;
}
.categories  .text img{
  height: 5vw;
  weight:auto;
}


}
