*{
  padding:0px;
  margin:0px;
}
body{
  margin:0;
}
.common{
  /*border:black solid 1px;*/
  width:1240px;
  margin:0 auto;
  height:620px;
}

.holdTop{
  position: fixed;
  top:0px;
  left:100px;
  background-color:white;
  overflow: hidden;
  width:1240px;

}

h1{
    margin-top: 50px;
    display: block;
    text-align: center;
    height:620px;
}

#menu nav{
  margin:0px;
}

#menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:black solid 1px;
  margin:0 auto;


}

#menu ul li{
  float:left;
}
#menu ul li a{
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:200px;
  border: 1px solid red;
}
#menu a:hover{
  background-color: grey;
}


#intro img{
  display:block;
}

#intro a{
  text-align: center;
}
#Furnitures,#clothes,#Technolgy{
  position:relative;
}
section .more{
  width:100px;
  position:absolute;
  bottom:10px;
  right:10px;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
}

.wrapper {
  padding: 0 7em 2em 3em;
  width: 100%;
}

.timeline {
  position: fixed;
  top: 150px;
  right:20px;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  margin: 20px 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all .3s ease-out;
}

.timeline ul a{
    text-decoration: none;
    color: #bfc1c3;
}

.timeline ul a:hover {
  color: #000;
}

.timeline ul li:active{
    background-color: coral;
}
